---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
import 'blaze-slider/dist/blaze.css';
---

<Layout title='DevsClan | Instagram Clone'>
  <section class='py-14'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Project Showcase
      </span>
    </div>
    <h1 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'>Instagram Clone</h1>
    <p class='mb-10 text-center'>
      Instagram clone features ability to upload posts, comment on posts, like/unlike posts, follow account, real-time
      chat, search profiles, update profile and much more...
      <a href='http://instagram-clone-reupload.vercel.app/' class='underline hover:text-main-1' target='_blank'
        >Visit Site</a
      >
    </p>
    <h2 class='text-2xl font-bold mb-3 dark:text-white text-black'>Features</h2>
    <ul class='grid grid-cols-2 sm:grid-cols-3 gap-3 mb-10'>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Upload Posts</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Comment on Posts</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Like/unlike Posts</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Search Accounts</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">View Profiles</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Follow/unfollow accounts</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">News Feed</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Update Profile</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Real Time Chat</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">User Authentication</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Login through Facebook</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Optimistic Updates</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Real Time Database</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Responsive Design</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">And Much More...</li>
    </ul>
    <h2 class='text-2xl font-bold mb-3 dark:text-white text-black'>Technologies Used</h2>
    <ul class='grid grid-cols-2 sm:grid-cols-3 gap-4 mb-10'>
      <li class='flex items-center space-x-2'><Icon name='react' class='w-10 h-10' /><span>React.js</span></li>
      <li class='flex items-center space-x-2'><Icon name='firebase' class='w-10 h-10' /><span>Firebase</span></li>
      <li class='flex items-center space-x-2'><Icon name='tailwind' class='w-10 h-10' /><span>TailwindCSS</span></li>
      <li class='flex items-center space-x-2'><Icon name='vercel' class='w-10 h-10' /><span>Vercel</span></li>
    </ul>
    <h2 class='text-2xl font-bold mb-3 dark:text-white text-black'>Showcase</h2>
    <div class='blaze-slider mb-14'>
      <div class='blaze-container'>
        <div class='blaze-track-container'>
          <div class='blaze-track'>
            <div class='grid place-content-center bg-dark-4'>
              <img src='project1.jpg' alt='project1' width='300' height='300' />
            </div>
            <div class='grid place-content-center bg-dark-4'>
              <img src='project2.jpg' alt='project1' width='300' height='300' />
            </div>
            <div class='grid place-content-center bg-dark-4'>
              <img src='project3.jpg' alt='project1' width='300' height='300' />
            </div>
            <div class='grid place-content-center bg-dark-4'>
              <img src='project1.jpg' alt='project1' width='300' height='300' />
            </div>
            <div class='grid place-content-center bg-dark-4'>
              <img src='project2.jpg' alt='project1' width='300' height='300' />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  import BlazeSlider from 'blaze-slider';

  const slider = document.querySelector('.blaze-slider') as HTMLElement;
  new BlazeSlider(slider, {
    all: {
      slidesToShow: 3,
      enableAutoplay: true,
    },
    '(max-width: 768px)': {
      slidesToShow: 2,
    },
    '(max-width: 640px)': {
      slidesToShow: 1,
    },
  });
</script>
