---
import RotatingCard from '../components/ui/RotatingCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='DevsClan | Portfolio'>
  <section class='py-14'>
    <h1 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'>Our Portfolio</h1>
    <div class='flex justify-center space-x-4 mb-10'>
      <button
        class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold duration-300 dark:bg-main-1 text-dark-1 filter-btn'
        data-btn='all'>All</button
      >
      <button class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold duration-300 filter-btn' data-btn='web'>Web</button>
      <button class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold duration-300 filter-btn' data-btn='mobile'
        >Mobile</button
      >
      <button class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold duration-300 filter-btn' data-btn='ar'>AR</button>
      <button class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold duration-300 filter-btn' data-btn='vr'>VR</button>
    </div>

    <div class='grid [grid-template-columns:repeat(auto-fit,minmax(18.75rem,1fr))] gap-6 mb-14'>
      <RotatingCard
        title='Project 1'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project1.jpg'
        slug='project1'
        dataBtn='web'
      />
      <RotatingCard
        title='Project 2'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project2.jpg'
        slug='project2'
        dataBtn='web'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='web'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='mobile'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='mobile'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='mobile'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='ar'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='ar'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='ar'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='vr'
      />
      <RotatingCard
        title='Project 3'
        description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe! Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!'
        image='/project3.jpg'
        slug='project3'
        dataBtn='vr'
      />
    </div>
  </section>
</Layout>

<script>
  const filterBtns = document.querySelectorAll('.filter-btn');
  const images = document.querySelectorAll('.relative');
  filterBtns.forEach(filterBtn =>
    filterBtn.addEventListener('click', () => {
      filterBtns.forEach(el => el.classList.remove('text-dark-1', 'dark:bg-main-1'));
      filterBtn.classList.add('text-dark-1', 'dark:bg-main-1');
      images.forEach(image => {
        // @ts-ignore
        if (filterBtn.dataset.btn !== 'all' && image.dataset.btn !== filterBtn.dataset.btn) {
          image.classList.add('hidden');
        } else {
          image.classList.remove('hidden');
        }
      });
    })
  );
</script>
