---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---

<Layout title='DevsClan | Project 1'>
  <section class='py-14'>
    <h1 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'>Project 1</h1>
    <p class='mb-10'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus blanditiis hic tenetur saepe!
      Pariatur molestiae nihil officiis aperiam ducimus temporibus, cumque totam odit voluptatibus!
    </p>
    <h2 class='text-2xl font-bold mb-3 dark:text-white text-black'>Features</h2>
    <ul class='grid grid-cols-3 gap-2 mb-6'>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
      <li class="before:content-['✓'] before:mr-1.5 before:text-main-1">Lorem</li>
    </ul>
    <h2 class='text-2xl font-bold mb-3 dark:text-white text-black'>Technologies Used</h2>
    <ul class='grid grid-cols-3 gap-2 mb-6'>
      <li><Icon name='react' class='w-10 h-10' /></li>
      <li><Icon name='react' class='w-10 h-10' /></li>
      <li><Icon name='react' class='w-10 h-10' /></li>
      <li><Icon name='react' class='w-10 h-10' /></li>
      <li><Icon name='react' class='w-10 h-10' /></li>
      <li><Icon name='react' class='w-10 h-10' /></li>
    </ul>
  </section>
</Layout>
